@import '../../variables.scss';

.c-case-studies {
  &-page {
    height: 100%;
    &__container {
      display: flex;
    }
  }
}

.c-page {
  &__sidebar {
    top: 8vmin;
    left: 0;
    width: 20vw;

    text-align: right;
    padding-right: 1vmin;
    
    background-color: #eee;
    border-right: 1px solid $secondary-color;
  }

  &__content {
    right:0;
    top: 10vmin;
    width: 100vh;
    min-width: 120vh;
    color: $secondary-color;

    border-bottom: 1px solid $secondary-color;
    padding: 3vmin;

    display: flex;
  }
}

.c-content {
  flex: 1;
  border: 1vmin solid $secondary-color;
}

.c-case-study {
  padding: 1vmin;
  margin: 0;
  width: 100%;
  &__container {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    flex: 1;
    border: 1vmin solid $secondary-color;

  }

  &__header {
    margin: 0 auto;
    padding-top: 10vmin;
    text-align: center;
    line-height: 12vmin;
    h1 {
      margin: 0;
      font-size: 3em;
      line-height: 9vmin;
    }
    h2 {
      margin: 0;
      font-size: 1.5em;
      line-height: 6vmin;
    }
  }

  &__content {
    margin: 5vmin auto;
    padding-top: 5vmin;
    padding-bottom: 10vmin;
    
    height: 100%;
    max-width: 760px;
  }
}