@import '../../variables.scss';
.c-biography {
  color: $primary-color;

  &-page {
    &__container {
      width: 100vw;
      display: flex;
      justify-content: center;
      background-color: $secondary-color;
      padding-bottom: 15vmin;
    }
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    margin: 5vmin;
    padding: 5vmin;
    max-width: 760px;

    border: 2vmin solid $primary-color;
  }
  
  &__section {
    flex: 1;
    background-color: $secondary-color;
    display: flex;
    &:last-of-type {
      padding-bottom: 5vmin;
    }
  }
}