@import url("https://fonts.googleapis.com/css?family=Lato|Poiret+One");
@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  line-height: 1.6em;
  font-family: $primary-font, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, input, button {
  outline: none;
}

a {
  text-decoration: none;
  color: $primary-color;
}

h1 {
  font-size: calc(10px + 10vmin);
}

h2 {
  font-size: calc(10px + 6vmin);
}

h3 {
  font-size: calc(10px + 2vmin);
}

p {
  font-size: calc(10px + 1vmin);
}

.u-text {
  &--light {
    color: $tertiary-color;
  }
}

.o-header-text {
  font-family: $secondary-font;
  &--light {
    color: $tertiary-color;
  }
}

.o-jumbo-card {
  display: block;
  width: calc(11 * 3vw);
  height: calc(8 * 3vw);

  border-radius: 1vmin;

  box-shadow: 1px 2px 3px #001;

  margin-top: 5vh;

  padding: 1vmin 4vmin;
  line-height: 2rem;

  &:first-of-type {
    margin-top: 0;
  }
  
  

  &--light {
    background-color: $tertiary-color;
  }

  h3 {
    font-size: 1.6rem;
  }
}

.o-jumbo-cards {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vmin;
  }
}
